<%= render "layouts/header" %>

<section id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12 text-center nopadding">
                <h1 class="heading">Work With the Best Diamond Buyers, Jewelry Buyers & Watch Buyers in New York City</h1>
                <p class="sub-heading">Sell your diamonds, jewelry, watches & coins for the best possible prices with free expert appraisal
                    and immediate payments </p>
            </div>
        </div>
    </div>
</section>
<section id="buttons" class="mb-50">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12 plr-25">
                <button class="btn btn-gold">Get a Quote</button>
            </div>
            <div class="col-md-4 col-xs-12 plr-25">
                <button class="btn btn-gold">Schedule An Appointment</button>
            </div>
            <div class="col-md-4 col-xs-12 plr-25">
                <button class="btn btn-gold">Sell Safely With Fedex</button>
            </div>

        </div>
    </div>
</section>
<section id="buy">
    <div class="container">
        <div class="row text-center">
            <div class="col-xs-12 text-center">
                <h1 class="sec-heading">Let us buy your</h1>
            </div>
        </div>
        <div class="col-sm-2 col-xs-6">
            <a href="#">
              <%= image_tag "b1.jpg", width: "auto", height: "auto" %>
              <p>Gold Jewelry</p>
            </a>
        </div>
        <div class="col-sm-2 col-xs-6">
            <a href="#">
              <%= image_tag "b2.jpg", width: "auto", height: "auto" %>
              <p>Diamond Jewelry</p>
            </a>
        </div>
        <div class="col-sm-2 col-xs-6">
            <a href="#">
              <%= image_tag "b3.jpg", width: "auto", height: "auto" %>
              <p>Designer Jewelry</p>
            </a>
        </div>
        <div class="col-sm-2 col-xs-6">
            <a href="#">
              <%= image_tag "b4.jpg", width: "auto", height: "auto" %>
              <p>Watches</p>
            </a>
        </div>
        <div class="col-sm-2 col-xs-6">
            <a href="#">
              <%= image_tag "b5.jpg", width: "auto", height: "auto" %>
              <p>Coins & Bullion</p>
            </a>
        </div>
        <div class="col-sm-2 col-xs-6">
            <a href="#">
              <%= image_tag "b6.jpg", width: "auto", height: "auto" %>
              <p>Fine Silver</p>
            </a>
        </div>
    </div>
</section>
<section id="receive">
    <div class="container">
        <div class="row">
            <div class="col-md-11 col-sm-12 col-xs-12 ">
                <h1 class="sec-heading text-center">Receive the Best Offer by Selling with a Trusted Buyer</h1>
                <p>With <strong>Over 150 Years of combined experience and hundreds of customer reviews,</strong> our jewelry
                    buyers offer an unmatched record of success when you’re ready to sell jewelry, diamonds, and watches.
                    Most importantly, Unlike auctions, there are no selling fees, and you can have your money in hand
                    the same day or two if selling via mail.</p>
                <p>TRUVAL is a reliable Jewelry Buyer and Diamond Buyer with a record of success that is built on trust
                    with thousands of satisfied customers and reviews on Yelp and Google. <strong>At TRUVAL, we make it easy to sell jewelry, diamonds and gold valuables with an honest, private and hassle free experience.</strong></p>
            </div>
        </div>
    </div>
</section>
<section id="recent">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1 class="sec-heading">Recent Purchases</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 recent">
                <div class="col-sm-2 col-xs-12 text-center">
                    <%= image_tag "r1.jpg", width: "100%", height: "auto" %>
                    <p>PATEK PHILIPPE 18KT GOLD VINTAGE WATCH</p>
                </div>
                <div class="col-sm-2 col-xs-12 text-center">
                    <%= image_tag "r2.jpg", width: "100%", height: "auto" %>
                    <p>PIAGET ROSE GOLD RING ADORNED IN 5 CARATS OF DIAOMNDS</p>
                </div>
                <div class="col-sm-2 col-xs-12 text-center">
                    <%= image_tag "r3.jpg", width: "100%", height: "auto" %>
                    <p>1995 PROOF GOLD EAGLE COINS WITH COA</p>
                </div>
                <div class="col-sm-2 col-xs-12 text-center">
                    <%= image_tag "r4.jpg", width: "100%", height: "auto" %>
                    <p>PIAGET LIMELIGHT GALA DIAMOND PAVE DIAL 18K ROSE GOLD LADIES WATCH</p>
                </div>
                <div class="col-sm-2 col-xs-12 text-center">
                    <%= image_tag "r5.jpg", width: "100%", height: "auto" %>
                    <p>ROLEX OYSTER PERPETUAL SUBMARINER watch</p>
                </div>

                <div class="col-sm-2 col-xs-12 text-center">
                    <%= image_tag "r6.jpg", width: "100%", height: "auto" %>
                    <p>STERLING SILVER DECORATIVE BOWL</p>
                </div>
                <div class="col-sm-2 col-xs-12 text-center">
                    <%= image_tag "r7.jpg", width: "100%", height: "auto" %>
                    <p>STERLING SILVERWARE, BLOSSOM BY GORHAM</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="logos">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1 class="sec-heading">The Industry's Best Diamond Buyers &amp; Jewelry Buyers</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 logos">
                <div class="col-sm-2 col-xs-12 text-center">
                    <%= image_tag "l1.jpg", width: "100%", height: "auto" %>
                </div>
                <div class="col-sm-2 col-xs-12 text-center">
                    <%= image_tag "l2.jpg", width: "100%", height: "auto" %>
                </div>
                <div class="col-sm-2 col-xs-12 text-center">
                    <%= image_tag "l3.png", width: "100%", height: "auto" %>
                </div>
                <div class="col-sm-2 col-xs-12 text-center">
                    <%= image_tag "l4.jpg", width: "100%", height: "auto" %>
                </div>
                <div class="col-sm-2 col-xs-12 text-center">
                    <%= image_tag "l5.jpg", width: "100%", height: "auto" %>
                </div>
                <div class="col-sm-2 col-xs-12 text-center">
                    <%= image_tag "l6.jpg", width: "100%", height: "auto" %>
                </div>
                <div class="col-sm-2 col-xs-12 text-center">
                    <%= image_tag "l7.jpg", width: "100%", height: "auto" %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <button class="btn btn-gold2">Get A Quote</button>
            </div>
        </div>
    </div>
</section>

<section id="steps">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1 class="sec-heading">No matter how you sell, it's an easy 4 step process</h1>
            </div>
        </div>
        <div class="row steps">
            <div class="col-sm-3 col-xs-12 text-center">
                <%= image_tag "step1.png", height: "auto", width: "auto" %>
                <h4>Describe your Items</h4>
                <p>Start by filling out the Get A Quote form or call in to discuss your items potential value.</p>
            </div>
            <div class="col-sm-3 col-xs-12 text-center">
                <%= image_tag "step2.png", height: "auto", width: "auto" %>
                <h4>Your selling options</h4>
                <p>To sell your items, schedule an in-store appointment or access our free and insured FedEx mail-in service.
                </p>
            </div>
            <div class="col-sm-3 col-xs-12 text-center">
                <%= image_tag "step3.png", height: "auto", width: "auto" %>
                <h4>Get your offer</h4>
                <p>Our leading experts will evaluate brand, design, and precious metal content to make you the best offer.</p>
            </div>
            <div class="col-sm-3 col-xs-12 text-center">
                <%= image_tag "step4.png", height: "auto", width: "auto" %>
                <h4>Get paid </h4>
                <p>In-person sellers receive cash within minutes. Mail-in sellers receive immediate payment via check or
                    wire </p>
            </div>

        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <button class="btn btn-white">Find Out More</button>
            </div>
        </div>
    </div>
</section>
<section id="reviews">
    <div class="container">
        <div class="row">
            <div class="col-xs-10 text-center reviews">
                <div class="client-review text-center">
                    <%= image_tag "c1.jpg", width: "auto", height: "auto" %>
                    <p class="stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </p>
                    <p>
                        <i class="fa fa-quote-left"></i> Let's begin with the fact the TRUVAL is not on street level
                        of 47th but instead is on the upper floor of an office building with a waiting room, private
                        buying offices and, actual appointments which made it feel like a professional establishment.<br/>                            The fellow that assisted me (Shlomi) was friendly and not pushy. He appraised my jewelry items,
                        including items that I accidentally added to the items I intended to sell which I felt had no
                        value. I am happy I did because Shlomi discovered that some of them were gold :)<br/> He explained
                        the details of their appraisal process and how they come up with the value. He also appraised
                        a few diamond jewelry pieces for me that I wanted to value but not sell. The staff at TRUVAL
                        is transparent and informative. I am happy to recommend TRUVAL to anyone.<br/>
                        <i class="fa fa-quote-right"></i>
                    </p>
                    <p><em><sup>__</sup> Sheila Cohen, Sold in New York's Diamond District</em></p>
                </div>
                <div class="client-review text-center">
                    <%= image_tag "c2.jpg", width: "auto", height: "auto" %>
                    <p class="stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </p>
                    <p><i class="fa fa-quote-left"></i>I had the pleasure of selling with TRUVAL recently. I was impressed
                        with the level of professionalism I received from Mr. Shlomi Shlomo. From beginning to end the
                        level of communication was terrific and could not be more important given my concern of dealing
                        with an internet based New York diamond buyer over 3000 miles away!</p>
                    <p>I completed the entire jewelry selling process in less than 72 hours. The price I received was more
                        than the several local jewelry stores offered. I accepted the offer, and they wired the money
                        to me on the same day. They made the process of selling my diamond jewelry stress-free.<i class="fa fa-quote-right"></i></p>
                    <p><em><sup>__</sup> Debrah M, from LA. Sold via mail to New York's Diamond District</em></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <button class="btn btn-gold btn-reviews">All Yelp Reviews</button>
            </div>
        </div>
    </div>
</section>
<section id="speak">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1 class="sec-heading">Speak with A Jewelry Buyer</h1>
                <h2>Call us at 212-938-1002</h2>
            </div>

        </div>
        <div class="row mt-50">
            <div class="col-md-8 col-sm-12 col-xs-10">
                <div class="col-sm-6 col-xs-12">
                    <button class="btn btn-gold btn-speak">Get A Quote</button>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <button class="btn btn-gold btn-speak">Schedule An Appointment</button>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="experience">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-11 centered experience">
                <h1 class="sec-heading">the Truval experience</h1>
                <%= image_tag "broach.jpg", class: "pull-right", width: "auto", height: "auto" %>
                <p>You’ve inherited a gorgeous Tiffany broach. You love the person that wore it… but you’d never pin it
                    on. Or maybe you’re newly divorced. What’s done is done, and you don’t want that karma following
                    you around. Why not convert its value into cash to meet your evolving needs.</p>
                <p>TRUVAL’s expert jewelry buyers handle thousands of inquiries monthly with common questions such as “How
                    can I sell my diamond engagement ring for the best price” and “where can I sell my jewelry?” TRUVAL
                    is a leading gold buyer, diamond buyers and watch buyer with headquarters in New York City’s Diamond
                    District.
                </p>
                <p>Here at TRUVAL, we welcome transactions of all sizes, and unlike your average gold buyers your estate
                    jewelry, diamond rings, high-worth gold pieces, and designer jewelry will be seen for the valuable
                    items they are. That’s right: TRUVAL’s leading jewelry buyers and GIA certified diamond buyers accurate
                    valuation process will ensure the best possible payout.</p>
                <p>Today’s diamond and luxury watch markets are indeed Global, our understanding of the trends in diamond,
                    jewelry and gold within the international diamond community is essential to our unique valuation
                    process. TRUVAL’s expertise, relationship and direct access to the global gold, diamond & watch markets
                    mean we can offer you the best possible price the market can bear. TRUVAL is one of the few diamond
                    jewelry buyers and watch buyers that buy and sell on a global scale.</p>
                <%= image_tag "ring.jpg", class: "pull-left", width: "auto", height: "auto" %>
                <p>By selling your jewelry with TRUVAL, sellers are assured to receive a free and expert jewelry appraisal
                    with a far more informed jewelry buyer than most local jewelry stores can provide. Avoid the false
                    promises lesser jewelry buyers make over the phone just to make you a lesser offer in person. Our
                    jewelry experts are ready to assist you through the entire process of selling your diamond, jewelry,
                    and other items while answering all your questions and concerns.</p>
                <p>No matter how you choose to sell, TRUVAL has made it fast, private and free. For local New York City
                    sellers payment is instant. Or, access our free & insured mail-in service with overnight shipping,
                    the entire process takes as little as two days, and it’s 100% risk-free – should you choose not to
                    sell your jewelry your items are immediately returned.</p>
                <p>Our goal is to give your jewelry a second life, and you the cash to fulfill new dreams. Excited yet?
                    So are we, let’s find out what your jewelry is worth!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1 class="sec-heading">Trusted by</h1>
                <div class="col-lg-8 col-md-10 col-sm-10 col-xs-12 centered">
                    <div class="col-sm-3 col-sm-offset-3 col-xs-6 text-center">
                        <a href="#">
                          <%= image_tag "t1.jpg", width: "auto", height: "auto" %>
                        </a>
                    </div>
                    <div class="col-sm-3 col-xs-6 text-center">
                        <a href="#">
                          <%= image_tag "t2.jpg", width: "auto", height: "auto" %>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1 class="sec-heading">In association with</h1>
                <div class="col-lg-8 col-md-10 col-sm-10 col-xs-12 centered">
                    <div class="col-sm-3 col-xs-6 text-center">
                        <%= image_tag "a1.jpg", width: "auto", height: "auto" %>
                    </div>
                    <div class="col-sm-3 col-xs-6 text-center">
                        <%= image_tag "a2.jpg", width: "auto", height: "auto" %>
                    </div>
                    <div class="col-sm-3 col-xs-6 text-center small-clear">
                        <%= image_tag "a3.png", width: "auto", height: "auto" %>
                    </div>
                    <div class="col-sm-3 col-xs-6 text-center">
                        <%= image_tag "a4.png", width: "auto", height: "auto" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="locations">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                <div class="col-xs-12 text-center">
                    <h1 class="sec-heading">Locations</h1>
                </div>
                <div class="col-sm-6 col-xs-12 text-center location">
                    <%= image_tag "loc1.jpg", width: "auto", height: "auto" %>
                    <h2>New York City</h2>
                    <p>37 W 47th St. 6th Floor, #600 New York NY 10036</p>
                    <p><a href="#">Directions</a></p>
                </div>
                <div class="col-sm-6 col-xs-12 text-center location">
                    <%= image_tag "loc2.jpg", width: "auto", height: "auto" %>
                    <h2>Or mail it in </h2>
                    <p>Get a quote from anywhere, anytime </p>
                    <p><a href="#">Find out more</a></p>
                </div>
            </div>

        </div>
    </div>
</section>


<!-- Javascripts -->
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/js/slick.min.js"></script>
<script type="text/javascript" src="/js/dynamics.min.js"></script>

<%= render "layouts/footer" %>
